# Backend

Backend/TicketsProject.Api/appsettings.json
Backend/TicketsProject.Api/appsettings.Development.json


# Frontend
Frontend/.env
.env.local
.env.development

# General
bin/
obj/
.vs/
node_modules/